*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #1ae1e8 ;
    position: fixed;
    z-index: 1 ;
}
#nav{
    display: inline-block;
    position: relative;
}
#nav, .subnav{
    list-style: none;
}
#nav > li{
    display: inline-block;
    
}
#nav li {
    position: relative;
 }
#nav > li > a{
    color: #000;   
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    text-transform: uppercase;
    position: relative;
    display: block;
}

#nav .subnav{
    display: none;
    list-style: none;
    min-width: 150px;
    position:  absolute;
    background-color: #fff;
    box-shadow: 0 0 10px #000 ;
    top: 100%;
    left: 0;
 }

 #nav li:hover .subnav{
     display: block;
 }

 #nav > li:hover > a,
 #nav .subnav  li:hover a{
    color: #d23212;
    background: #000;
 }   
 #nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height:  38px;
 }
 #nav .icon{
    font-size: 12px ;
    align-items: center;
 }

#nav > li:hover > a{
    color: #d23212;
    background-color: #000;
     
}

#main #nav .search{
    border-radius: 12px;
    padding: 10px;
    text-align: center  ;
}


#slideshow {
    overflow: hidden;
    position:relative;
    height: 300px;
    width: 95%;
    border-radius: 25px;
    margin: 64px auto;
    background-color: #d23212;
  }

 .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 15s ease infinite;
  }

 .slide{
    float: left;
    height: 510px;
    width: 728px;
  }

 @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
  }


#slider{
    margin: 10px 50px 100px 50px ;
    border-radius: 30px;
    /* background-color: rgba(45, 241, 234, 0.263); */

}   

#slider .name-subject{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

#slider .subjects{
    overflow: hidden;
    border-radius: 10px;
}

#slider .basic-subjects{
    float: left;
    margin-top: 50px;
    width: calc(100%/4);
    display: inline-block;
    text-decoration: none;

        
}

#slider .subjects-img{
    display: block;
    margin-left: 30px;
    border-radius: 10px;
    width: 300px;
    height: 160px;
    position: relative  ;
    object-fit: cover;
    background-size: cover;

}
#slider > .basic-subjects:hover > img {
    color: #1ae1e8;
    background-color: #000;
}

#slider .subjects-img-name{
    margin-top: 25px;
    margin-left: 30px;
    color: #000;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing:0.4px;
    font-weight: bold;
    
}
#slider .icon-img{
    margin-top: 10px;
    margin-left: 30px;
    font-size: 18px;
    color: #000;
}


#slider .major-subjects{
    float: left;
    margin-top: 20px;
    width: calc(100%/4);
    display: inline-block ;
    text-decoration: none;
        
}

#slider .name-subject2{
    margin-top: 400px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 20px;

}

#slider  img:hover {
     box-sizing: border-box;
     position: relative;
     border-top: 9px solid #bbb;
     border-bottom: 9px solid #bbb;
     border-left: 9px solid #bbb;
     border-right: 9px solid #bbb;
     animation:infinite;
     transition: 0.5s;
     transform: scale(1.1);
}


#bg-footer{
    background-color: #181821;
    height: 300px;
    width: 100%;
}

#footer{
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 100px;
    margin-right: 50px;
    width: auto;
    background-color: #181821;
    font-size: 15px;
    position: relative;
   border:inherit;
  }

#footer .idea{
    margin-right: 50px;
    display: inline-block;
    color: #fff;
    width: calc(100%/2.5);
}

#footer .idea > ul{
    list-style: none;
    text-align: left;
    margin-left: 150px;
}

#footer .idea .head-info{
    margin-top: 40px;
    margin-bottom: 15px;
    line-height: 30px;
    text-transform: uppercase;
    align-items: center;
    font-size: 20px;

}

#footer .idea .info{
    line-height: 30px;
    opacity: 0.7;
}


#footer .img-head-info{
    border-radius: 15px;
    width: 5%;
    position:absolute;
    margin-left: 55px;
    margin-top: 18px;
}

#footer .infomation{
    list-style: none;
}


#bg-footer .footer-bottom{
    bottom: 0;
    position: relative;
    height: 60px;
    background-color: #181821;
    width: 100%;
    line-height: 50px;

}

#bg-footer .footer-coppy{
    color: #fff;
    opacity: 0.7;

    position: absolute;
    display: flex;
    align-items: center;
    background-color: #181821;
    margin-top: 21px;
    margin-left: 150px;

}
#bg-footer .footer-bottom-icon{
    position: absolute;
    right: 400px;
    margin-top: 30px;
    color: #d23212;
    font-size: 30px;
    display:inline-block;
    align-items: center;

} 